body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252424;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

canvas {
  background-color: #0f0e0e;
}

button {
  background-color: #454545;
  color: #ffffff;
  border: 1px solid #6c6c6c;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
